body {
    color: #0A345C;
    background-color: #e9f3ff;
    font-family:'Courier New', Courier, monospace;
}

div {
    display: flex;
    margin: auto;
    /* width: 60%; */
    text-align: center;
    justify-content: center;
}


#big-name {
    margin-bottom: 0;
}

#logo img {
    height: 10vh;
}

#link-list {
    list-style-type: none;
    padding: 0;
    display: flex;
}

#link-list li {
    height: 100%;
    background-color: #0A345C;
    width: 30vw;
}

.nav-link {
    line-height: 10vh;
    /* background-color: #0A345C; */
    border-radius: 5px;
    color: #e9f3ff;
    text-decoration: none;
    font-weight: bold;
}

#people-intro {
    width: 100%;
    display: block;
}

#people-bios {
    width: 100%;
    display: block;
}

#officer-bios {
    width: 80%;
    display:block;
    background-color: #e9f3ff
}

.officer-bio {
    background-color: #467FB6;
    display: block;
    padding-top: 2vh;
    border-radius: 10px;
    margin-bottom: 2vh;
}

.officer-bio p {
    font-weight: bold;
}

.officer-name, .officer-title {
    color: #e9f3ff
}

.bio-photo {
    height: 10vw;
    width: auto;
}
