body {
    color: #0A345C;
    background-color: #e9f3ff;
    font-family:'Courier New', Courier, monospace;
}

div {
    display: flex;
    margin: auto;
    width: 60%;
    text-align: center;
    justify-content: center;
}

#big-name {
    margin-bottom: 0;
}

#logo img {
    height: 10vh;
}

#link-list {
    list-style-type: none;
    padding: 0;
    display: flex;
}

#link-list li {
    height: 100%;
    background-color: #0A345C;
    width: 30vw;
}

.nav-link {
    line-height: 10vh;
    /* background-color: #0A345C; */
    border-radius: 5px;
    color: #e9f3ff;
    text-decoration: none;
    font-weight: bold;
}

