/* CSSTerm.com Horizontal Easy DropDown CSS menu */

.top-nav-bar-list {
	background:#0A345C;
	padding:0;
	margin:0;
	list-style-type:none;
	height:40px;
}
.top-nav-bar-list li { float:left; }
.top-nav-bar-list li a {
	padding:12px 20px;
	display:block;
	color:#e9f3ff;
	text-decoration:none;
	/* font:12px arial, verdana, sans-serif; */
	border: none;
}

/* Submenu */
.top-nav-bar-list ul {
	position:absolute;
	left:-9999px;
	top:-9999px;
	list-style-type:none;
	background: #0A345C;
}
.top-nav-bar-list li:hover {
	position:relative;
	/* background:#e9f3ff; */
	/* color: black; */
}
.top-nav-bar-list li:hover ul {
	left:0px;
	top:38px;
	background:#e9f3ff;
	padding:0px;
}

.top-nav-bar-list li:hover ul li a {
	padding:10px;
	display:block;
	width:168px;
	text-indent:15px;
	background-color:#e9f3ff;
}
.top-nav-bar-list li:hover ul li a:hover { background:#0A345C;  }
