body {
    color: #0A345C;
    background-color: #e9f3ff;
    font-family:'Courier New', Courier, monospace;
    overflow-x: hidden;
}

div {
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
}

#welcome-header div {
    background-color: #467FB6;
    display: block;
}


/* #name, #school {
    display: block;
} */

/* #school {
    height: 10vh;
} */

.big-name, .small-name {
    margin-top: 0.1vh;
    margin-bottom: 0.1vh;
}


 #insert-events ul li
{
    text-align: left
} 


#logo img {
    height: 20vh;
}

#logo img:hover {
    height: 25vh;
}

#link-menu-list {
    background-color: #0A345C;
    height: 10vh;
    vertical-align: center;
    overflow: visible;
    border-radius: 5px;
}

.nav-link {
    border-radius: 5px;
    color: #e9f3ff;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    line-height: 7vh;
}

.nav-link:hover {
    background-color: #467FB6;
}

#people-bios {
    width: 100%;
    display: block;
}

#officer-bios {
    width: 80%;
    display: block;
}

.officer-bio {
    background-color: #467FB6;
    display: block;
    padding-top: 2vh;
    border-radius: 10px;
    margin-bottom: 2vh;
    padding-bottom: 2vh;
}

.officer-bio p {
    font-weight: bold;
}

.officer-name, .officer-title, #advisor-name, #advisor-title {
    color: #e9f3ff
}

.bio-photo {
    height: 10vw;
    width: auto;
    border-radius: 50%;
    min-height: 106px;
    min-width: 107px;
}

#advisor-bio {
    width: 80%;
    background-color: #0A345C;
    display: block;
    padding-top: 2vh;
    border-radius: 10px;
    margin-bottom: 2vh;
    padding-bottom: 2vh;
}

#advisor-bio p {
    font-weight: bold;
    color: #467FB6
}

.outside-link {
    color: #e9f3ff;
    text-decoration: none;
    /* font-weight: bold; */
}

#footer-link-list {
    position: relative;
    bottom: 0;
    width: 98vw;
    background-color: #0A345C;
    height: 12vh;
    text-align: center;
    justify-content: center;
    margin: 0;
    border-radius: 5px;
}

#footer-link-list div {
    display: block;
}

#calendar {
    padding-top: 2vh;
    border-width: 0;
    width: "800";
    height: "600";
}

.intro-text {
    width: 100%;
    display: block;
}

.placeholder-content {
    background-color: #467FB6;
    width: 80%;
    height: auto;
    /* border-color: #467FB6; */
    border-radius: 5px;
    border-style:solid;
    border-width: 0;
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: block;
}

.placeholder-content div {
    color: #e9f3ff;
}

#home-content .big-name {
    margin-top: 2vh;
}

#index-content div {
    width: 100%;
    /* margin-bottom: 0; */
    /* background-color: white; */
    margin: 0;
    padding: 0;
}

#index-content div p{
    margin-bottom: 2vh;
}
#index-content div h2.small-name {
    margin-top: 2vw;
}

#people-intro.big-name, #people-bios {
    background-color: #e9f3ff;
}

#contact-content {
    background-color: transparent;
}

#contact-content div a {
    line-height: 10hv;
    font-weight: bold;
    text-decoration: none;
    color: #e9f3ff;
    font-size: biggest;
    /* background-color: #0A345C; */
    /* padding: 0.5vh;
    margin: 0.5vh; */
    border-radius: 5px;
}

#contact-content div {
    background-color: #0A345C;
    margin: 5vh;
    /* height: 10vh; */
    justify-content: center;
    /* height:  */
    vertical-align: center;
    border-radius: 5px;
}

div div {
    padding-top: 20px;
    padding-bottom: 20px;
}

#bottom-links {
    padding: 0;
}

.scroll-link {
    color: #467FB6;
    text-decoration: none;
    font-weight: bold;
}

@keyframes typing {
    from {width: 0}
    to {width: 100%}
}

.typed-out {
    overflow: hidden;
    border-right: 1px solid orange;
    font-size: 1.6rem;
    width: 50vw;
    margin: auto;
    animation: typing 1s forwards;
    /* animation: typing 1s steps(20, end) forwards; */
}

#type {
    display: inline-block;
}


/* marquee {
    scrollamount "3";
} */


address {
    color: white;
    font-weight: bold;
    font-size: small;
}