body {
    background-color: #BED0E4
}


#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

#top-nav-bar {
    /* display: flex;
    text-align: center; */
    width: auto;
    margin: auto;
    align-self: center;
}

div {
    justify-content: center;
    display: flex;
}

a:hover {
    background-color: #BED0E4;
}

ul {
    list-style-type: none; /* Removes bullet points */
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    text-align: center;
    background-color: transparent;
}

form {
    display: inline;
}


.nav-link {
    background-color: transparent;
    width: auto;
    margin: auto;
}

button {
    background-color: transparent;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    color: #0466C8;
    font-weight: bold;
}