body {
    background-color: #e9f3ff;}

#header {
    width: 100%;
    /* position: relative; */
}

#logo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    float: left;
    /* min-height: 10%;
    min-width: 10%; */
    height: 100px;
    width: 100px;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: #0466C8;
}

nav {
    width: 100%;
    
}

#top-nav-bar {
    width: 100%;
    margin: auto;
    align-self: center;
}

.nav-link {
    font-size: bigger;
    width: 100%;
}

div {
    justify-content: center;
    display: flex;
}

ul {
    list-style-type: none; /* Removes bullet points */
    margin: 0;
    padding: 0;
    /* position: absolute;
    bottom: 0px; */
}

form {
    display: inline;
    margin: 2%;
}


.nav-link {
    background-color: transparent;
    width: auto;
    margin: auto;
    display: inline;
    text-align: center;
    background-color: transparent;
}

button {
    background-color: transparent;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    color: #0466C8;
    font-weight: bold;
    font-size: 20px;
}