
/* CSSTerm.com Horizontal Easy DropDown CSS menu */

body {
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}

.top-nav-bar-list {
	background:#0A345C;
	padding:0;
	margin:0;
	list-style-type:none;
	height:40px;
}
.top-nav-bar-list li { float:left; }

.top-nav-bar-list li a {
	padding:12px 20px;
	display:block;
	color:#e9f3ff;
	text-decoration:none;
	border: none;
}
.top-nav-bar-list li:hover {
	position:relative;
    background: #467FB6;
    color: green;
	/* background:#e9f3ff; 
    color: black; */
}

/* Submenu */
.top-nav-bar-list ul {
	position:absolute;
	left:-9999px;
	top:-9999px;
	list-style-type:none;
	background: #0A345C;
}

.top-nav-bar-list li:hover ul {
	left:0px;
	top:38px;
	background:#0A345C;
	padding:0px;
}

.top-nav-bar-list li:hover ul li a {
	padding:10px;
	display:block;
	width:168px;
	text-indent:15px;
	background-color:#0A345C;
}

.top-nav-bar-list li:hover ul li a:hover { background:#e9f3ff;  color: #0A345C;
}
